<div class="upload-container">
  <h2>Upload Excel File</h2>
  <!-- 
  <p-fileUpload
    name="file"
    accept=".xlsx,.xls"
    (onUpload)="onFileChange($event)"
    [maxFileSize]="1000000"
    auto
    mode="advanced"
    class="file-upload"
  ></p-fileUpload> -->
  <input
    class="ng-hide"
    id="input-file-id"
    type="file"
    (change)="onFileChange($event)"
  />

  <div *ngIf="data.length > 0" class="data-section">
    <h3>Uploaded Data</h3>
    <p-table [value]="data" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let column of displayedColumns" class="left-align">
            {{ column }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td *ngFor="let column of displayedColumns">{{ rowData[column] }}</td>
        </tr>
      </ng-template>
    </p-table>

    <form [formGroup]="filterForm" (ngSubmit)="submit()" class="filter-form">
      <div formArrayName="rules">
        <div
          *ngFor="let rule of rules.controls; let i = index"
          [formGroupName]="i"
          class="rule-container"
        >
          <h4>Rule {{ i + 1 }}</h4>

          <div formArrayName="subRules" class="sub-rule-container">
            <div
              *ngFor="let subRule of getSubRules(i).controls; let j = index"
              [formGroupName]="j"
              class="sub-rule"
            >
              <p-dropdown
                formControlName="field"
                [options]="displayedColumns"
                placeholder="Select Field"
              ></p-dropdown>
              <p-dropdown
                formControlName="condition"
                [options]="conditionOptions"
                placeholder="Select Condition"
              ></p-dropdown>

              <input
                type="text"
                pInputText
                formControlName="value"
                placeholder="Value"
                required
              />

              <p-button
                icon="pi pi-times"
                [rounded]="true"
                [text]="true"
                severity="danger"
                (click)="removeSubRule(i, j)"
                class="remove-button"
              ></p-button>
            </div>
            <div class="remove-rule-button">
              <p-button
                label="Add Sub-Rule"
                icon="pi pi-plus"
                (click)="addSubRule(i)"
                class="add-button"
              ></p-button>
            </div>
          </div>

          <div
            *ngIf="getSubRules(i).controls.length > 1"
            class="operator-container"
          >
            <label for="operator">OPERATOR</label>
            <p-dropdown
              formControlName="operator"
              [options]="operatorOptions"
            ></p-dropdown>
          </div>
          <div class="remove-rule-button">
            <p-button
              label="Remove Rule"
              icon="pi pi-times"
              (click)="removeRule(i)"
              class="remove-rule-button"
            ></p-button>
          </div>
        </div>
        <p-button
          label="Add Rule"
          icon="pi pi-plus"
          (click)="addRule()"
          class="add-rule-button"
        ></p-button>
        <p-button
          label="Apply Filters"
          [disabled]="filterForm.invalid"
          icon="pi pi-check"
          type="submit"
          class="apply-filters-button"
        ></p-button>
      </div>
    </form>

    <div *ngIf="filteredData.length > 0" class="filtered-data">
      <h3>Filtered Data</h3>
      <p-table [value]="filteredData" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let column of displayedColumns" class="left-align">
              {{ column }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td *ngFor="let column of displayedColumns">
              {{ rowData[column] }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!-- <p-button label="LOG" (click)="logForm()" class="log-button"></p-button> -->
  </div>
</div>
